Code/VFSPrototype/VFSBase/Service References/DiskServiceReference/DiskService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4764/DiskService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VFSWCFService.UserService" />
  <xs:import schemaLocation="http://localhost:4764/DiskService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/VFSWCFService.DiskService" />
  <xs:element name="Disks">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/VFSWCFService.UserService" minOccurs="0" name="user" nillable="true" type="q1:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/VFSWCFService.DiskService" minOccurs="0" name="DisksResult" nillable="true" type="q2:ArrayOfDisk" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateDisk">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/VFSWCFService.UserService" minOccurs="0" name="user" nillable="true" type="q3:User" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/VFSWCFService.DiskService" minOccurs="0" name="options" nillable="true" type="q4:DiskOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateDiskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/VFSWCFService.DiskService" minOccurs="0" name="CreateDiskResult" nillable="true" type="q5:Disk" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDisk">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/VFSWCFService.DiskService" minOccurs="0" name="disk" nillable="true" type="q6:Disk" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDiskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteDiskResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchSynchronizationState">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/VFSWCFService.DiskService" minOccurs="0" name="disk" nillable="true" type="q7:Disk" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchSynchronizationStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/VFSWCFService.DiskService" minOccurs="0" name="FetchSynchronizationStateResult" type="q8:SynchronizationState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDiskOptions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/VFSWCFService.DiskService" minOccurs="0" name="disk" nillable="true" type="q9:Disk" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDiskOptionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/VFSWCFService.DiskService" minOccurs="0" name="GetDiskOptionsResult" nillable="true" type="q10:DiskOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteBlock">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="diskUuid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="blockNr" type="xs:long" />
        <xs:element minOccurs="0" name="content" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteBlockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/VFSWCFService.DiskService" minOccurs="0" name="WriteBlockResult" nillable="true" type="q11:DiskOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>