Code/VFSPrototype/VFSBase/Service References/DiskServiceReference/DiskService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/VFSWCFService.DiskService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VFSWCFService.DiskService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4764/DiskService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VFSWCFService.UserService" />
  <xs:complexType name="ArrayOfDisk">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Disk" nillable="true" type="tns:Disk" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDisk" nillable="true" type="tns:ArrayOfDisk" />
  <xs:complexType name="Disk">
    <xs:sequence>
      <xs:element minOccurs="0" name="LastServerVersion" type="xs:long" />
      <xs:element minOccurs="0" name="LocalVersion" type="xs:long" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/VFSWCFService.UserService" minOccurs="0" name="User" nillable="true" type="q1:User" />
      <xs:element minOccurs="0" name="Uuid" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Disk" nillable="true" type="tns:Disk" />
  <xs:complexType name="DiskOptions">
    <xs:sequence>
      <xs:element minOccurs="0" name="BlockSize" type="xs:int" />
      <xs:element minOccurs="0" name="MasterBlockSize" type="xs:int" />
      <xs:element minOccurs="0" name="SerializedFileSystemOptions" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DiskOptions" nillable="true" type="tns:DiskOptions" />
  <xs:simpleType name="SynchronizationState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="RemoteChanges" />
      <xs:enumeration value="LocalChanges" />
      <xs:enumeration value="Conflicted" />
      <xs:enumeration value="UpToDate" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SynchronizationState" nillable="true" type="tns:SynchronizationState" />
</xs:schema>